<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <.link href={~p"/auth/request"} class="cursor-pointer">
      <img
        class="mx-auto h-1/2 rounded-full w-auto"
        src="https://images.fiftyseven.media/vibes/vibes.webp"
      />
    </.link>
  </div>
</div>
